doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Sample Application
    link(href="./styles/style.css", rel="stylesheet")
  body
    //- h1.text-6xl Hello world!
    //- p.m-64.bg-gray-400 My starter template!

    main
      article
        div.mx-auto
          div.relative.overflow-hidden
            div.absolute.inset-0
              img.h-full.w-full.object-cover(src="images/splash.png",alt="Salute")
              div.absolute.inset-0.bg-yellow-700.mix-blend-multiply
            div.relative.h-screen
              div
                a(href="https://cloud66.com")
                  img.absolute.inset-0.h-8.w-8.mt-4.ml-4(src="images/logo.svg",alt="Cloud 66 Prepress")
              h1(class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl pt-24")
                span.block.text-white
                  | Hello,
                span.block.text-yellow-200
                  | it's good to see you here!
              p(class="mt-6 max-w-lg mx-auto text-center text-xl text-orange-200 sm:max-w-3xl")
                | We're excited to see you trying out Cloud 66, the best way to deploy your applications on any cloud.
              div(class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center")
                div(class="space-y-4 sm:space-y-0 sm:mx-auto")
                 a(href="https://cloud66.com",class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-orange-700 bg-white hover:bg-orange-50 sm:px-8")
                   | Find out more
